include ../includes/head.pug
block header
.container
  h2.page-header Edit Book
  block error_handle
  form(action="/books/"+book.id+"?_method=PUT" method="POST")
    .form-row
      div.form-item
        block title
      div.form-item
        block author
    .form-row
      div.form-item
        block publish_date
      div.form-item
        block page_count
    .form-row
      div.form-item-no-grow
        block cover
      div.form-item
        block description
    .form-row.form-row-end
      a(href="/books/"+book.id).btn.btn-danger Cancel
      button(type="submit").btn.btn-primary Edit