include ../includes/head.pug
block header
h2.page-header Edit Book
form(action="/books/"+book.id+"?_method=PUT" method="POST")
  block error_handle
  div
    block form_field
  div
    block publish_date
  div
    block page_count
  div
    block cover
  div
    block description
  a(href="/books/"+book.id) Cancel
  button(type="submit") Edit