include ../includes/headCommon.pug
block header
.container
  h1.page-header Search Books
  form(action="/books", method="get")
    div.form-row.form-item
      block title
    div.form-row
      .form-item
        block publish_after
      .form-item
        block publish_before
    div.form-row.form-row-end
      button(type="submit").btn.btn-primary Search
  br
  block list_books