include ../includes/head.pug
form(action="/books" method="POST")
  div
    block header
  block error_handle
  div
    block form_field
  div
    block publish_date
  div
    block page_count
  div
    block cover
  div
    block description
  a(href="/books") Cancel
  button(type="submit") Create
