header
  nav.header-nav
    a.header-title(href="/") MyLibrary
    ul
      li
        a.header-link(href="/authors") Authors
      li
        a.header-link(href="/authors/new") 
          | Add Author
      li
        a.header-link(href="/books") Books
      li
        a.header-link(href="/books/new") 
          | Add Book