mixin listBooks(books, large)
  - bookCoverClass = large ? "book-cover-large" : "book-cover"
  - bookGridClass = large ? "book-grid-large" : "book-grid"
  div.book-grid(class= bookGridClass)
    each book in books
      a(href="/books/"+book.id)
        img.book-cover(src= book.coverImagePath, alt="Preview", class= bookCoverClass)
