extends authors/index.pug
block header
  include includes/header.pug

block name_input
  label Name
  input(type="text" name="name" value= searchOptions.name)

block list_authors
  if authors
    each author in authors
      div= author.name