extends books/index.pug
include includes/listBooks.pug
include includes/header.pug
block header
  +nav("books")
block title
  label Title
  input(type="text" name="title" value= searchOptions.title)

block publish_after
  label Publish After
  input(type="date" name="publishedAfter" value= searchOptions.publishedAfter)

block publish_before
  label Publish Before
  input(type="date" name="publishedBefore" value= searchOptions.publishedBefore)

block list_books
  if books
    +listBooks(books,true)