extends authors/index.pug
include includes/formMethod.pug
block header
  include includes/header.pug

block name_input
  label Name
  input(type="text" name="name" value= searchOptions.name)

block list_authors
  if authors
    each author in authors
      .btn-row
        div= author.name
        a(href="/authors/"+author.id).btn.btn-primary View
        a(href="/authors/"+author.id+"/edit").btn.btn-primary Edit
        +formMethod("/authors/"+author.id+"?_method=DELETE").btn.btn-danger