extends authors/index.pug
include includes/formMethod.pug
block header
  include includes/header.pug

block name_input
  label Name
  input(type="text" name="name" value= searchOptions.name)

block list_authors
  if authors
    each author in authors
      div= author.name
      a(href="/authors/"+author.id) View
      a(href="/authors/"+author.id+"/edit") Edit
      +formMethod("/authors/"+author.id+"?_method=DELETE")