extends layout/layout.pug
include includes/listBooks.pug
include includes/header.pug
block header
  +nav()
block list_books
  div
    h1.page-header Recently added
    if books
      +listBooks(books, true)