extends layout/layout.pug
include includes/listBooks.pug
block header
  include includes/header.pug
block list_books
  div
    h1 recently added
    if books
      +listBooks(books)(class="book-item")