extends authors/new.pug
block header
  include includes/header.pug

block form_field
  label Name
  input(type="text" name="name" value=author.name)

block handle_error
  include includes/errorHandling.pug