extends authors/show.pug
include includes/formMethod.pug
include includes/listBooks.pug
include includes/header.pug
block header
  +nav("authors")
block content
  .btn-row
    a(href=author.id+"/edit").btn.btn-primary Edit
    +formMethod(`/authors/${author.id}?_method=DELETE`).btn.btn-danger
  if booksByAuthor.length > 0
    h2.page-header Books By Author
    +listBooks(booksByAuthor).book-row
block error_handle
  include includes/errorHandling.pug