include ../includes/headCommon.pug

block header
.container
  h1.page-header Search Authors
  form(action="/authors", method="get")
    .form-row
      .form-item
        block name_input
    .form-row.form-row-end
      button(type="submit").btn.btn-primary Search
  br
  block list_authors