include ../includes/headCommon.pug
block header
.container
  h2.page-header New author
  block handle_error
  form(action="/authors", method="POST")
    .form-row.form-item
      block form_field
    .form-row.form-row-end
      a(href="/authors").btn.btn-danger Cancel
      button(type="submit").btn.btn-primary Create